.product-list {
  width: 100%;
  padding: 20px 40px;

  h1 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #333;
    letter-spacing: 0.5px;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background: #1677ff;
      margin-top: 6px;
      border-radius: 4px;
    }
  }

  .ant-row {
    /* Căn giữa các sản phẩm */
    justify-content: center !important;

    /* Khoảng cách đều 2 bên card */
    column-gap: 24px !important;
    row-gap: 24px !important;

    .ant-col > * {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
}

/* Responsive */
@media (max-width: 992px) {
  .product-list {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .product-list {
    padding: 10px;
  }
}
