.product-wrapper {
  width: 100%;
  min-height: calc(100vh - 174px);
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
}

.product-page {
  display: flex;
  gap: 40px;
  padding: 24px 56px 16px 56px;

  .left {
    width: 45%;

    .main-image {
      width: 100%;
      height: 420px;
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: rgb(255, 255, 255);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.25s ease;
      }
    }

    .image-list {
      display: flex;
      gap: 10px;
      margin-top: 15px;

      .thumb {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border: 2px solid transparent;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          border-color: #f85606;
        }
      }

      .active {
        border: 2px solid #f85606;
      }
    }
  }
  .right {
    flex: 1.2;
    // margin-left: 20px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }

    .sub {
      margin-top: 5px;
      color: #777;
    }

    .info {
      margin: 15px 0;
      display: flex;
      gap: 20px;
      color: #f85606;
      font-weight: 500;
    }

    .price-box {
      margin-top: 15px;
      background-color: #f5efef;
      .line {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 5px;
      }

      .old {
        text-decoration: line-through;
        color: #999;
        font-size: 14px;
      }

      .new {
        font-size: 22px;
        font-weight: 700;
        color: #000;
      }

      .discount {
        padding: 3px 6px;
        background: #f85606;
        color: white;
        border-radius: 4px;
        font-size: 12px;
      }
    }

    .quantity-box {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 32px;
        height: 32px;
        border: 1px solid #ccc;
        background: white;
        cursor: pointer;
        font-size: 18px;
        transition: 0.2s;

        &:hover {
          border-color: #f85606;
          color: #f85606;
        }
      }

      .number {
        width: 35px;
        text-align: center;
        font-size: 16px;
      }
    }

    .btn-group {
      margin-top: 25px;
      display: flex;
      gap: 15px;

      .add {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        border: 1px solid #f85606;
        color: #f85606;
        background: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;

        &:hover {
          background: #fff1e8;
        }
      }

      .buy {
        padding: 10px 30px;
        background: #f85606;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
