.product-card {
  width: 240px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .ant-card-cover {
    border-radius: 0;
  }
}

.product-cover {
  position: relative;
}

.product-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f85606;
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 2;
}

.product-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.brand {
  color: #777;
  font-size: 13px;

  span {
    font-weight: 600;
  }
}

.title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
}

.price {
  margin-top: 10px;

  .old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
  }

  .new-price {
    margin-left: 7px;
    font-size: 16px;
    font-weight: 700;
  }

  .discount {
    margin-left: 6px;
    color: #f85606;
    font-size: 12px;
  }
}
