.header {
  position: sticky;
  top: 0;
  padding-right: 72px;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.search-categories {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .ant-btn-variant-link {
    color: #fff;
    font-size: 16px;
  }
}
