.header {
  position: sticky;
  top: 0;
  padding-right: 72px;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.search-categories {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .ant-btn-variant-link {
    color: #fff;
    font-size: 16px;
  }
}

.header-logo {
  margin-left: 8px;
  width: 80px;
  height: auto;
  cursor: pointer;
  object-fit: contain;
  transition: 0.25s ease;

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}
